<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/buyer.css">
</head>

<body>
    <%- include("partials/header.ejs") %>

    <div class="container container-top">
        <h1><%- date.day %>, <%- date.dayNumber %> <%- date.month %> - <%- date.year %></h1>
    </div>

    <div class="today-list container">
        <div class="row">
          <div class="col">
            <ul>
                <% if (locals.buyerTodos) { %>
                    <% buyerTodos.forEach((item, index) => { %>
                    <li>
                        <form class="todo-form" method="POST">
                        <input class="form-check-input" type="checkbox" value="" id="checkBox<%- index %>" name="todoItem" <% if(item.completed) { %>checked<% } %>>
                        <label class="form-check-label" for="checkBox<%- index %>">
                            <%- item.todoItem %>
                        </label>
                        <input type="hidden" name="listName" value="buyerTodos">
                        <input type="hidden" name="itemId" value="<%- index %>">
                        <input type="hidden" name="completed" value="<%- item.completed %>">
                        </form>
                    </li>
                    <% }); %>
                <% } %>
              <li>
                <form action="/buyer" method="POST">
                  <input type="text" name="todoTask" placeholder="Add a new Task">
                  <button class="btn btn-success" type="submit">Add</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
    </div>

    <div class="list-deco">
        <img class="list-icon" src="/images/orange.png" alt="An icon representing and orange with a smile and two cartoon eyes">
    </div>

      <script>

        document.addEventListener('DOMContentLoaded', () => {
            const todoForms = document.querySelectorAll('.todo-form');
        
            todoForms.forEach(form => {
            const checkbox = form.querySelector('input[type="checkbox"]');
            const completedInput = form.querySelector('input[name="completed"]');
            const itemIdInput = form.querySelector('input[name="itemId"]');
        
            checkbox.addEventListener('change', () => {
                const isChecked = checkbox.checked;
                const itemId = itemIdInput.value;
                
                completedInput.value = isChecked;
        
                fetch('/toggleCheckbox', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    listName: 'buyerTodos',
                    itemId: itemId,
                    completed: isChecked
                })
                })
                .then(response => {
                console.log('Item atualizado com sucesso.');
                })
                .catch(error => {
                console.error('Erro ao atualizar o item:', error);
                });
            });
            });
        });
    
    </script>

</body>
</html>
