<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/today.css">
</head>
<body> 
    <%- include("partials/header.ejs") %>

    <h1><%- date.day %>, <%- date.dayNumber %> <%- date.month %> - <%- date.year %></h1>
    
    <div class="today-list container">
        <ul>
            <% if (locals.todayTodos) { %>
                <% todayTodos.forEach((item) => { %>
                    <li> <%-  item.todoItem  %> </li>
                <% }); %>
            <% } %>    
            <li>
                <form action="/" method="POST">
                <input type="text" name="todoTask" placeholder="Add a new Task">
                <button type="submit">+</button>
                </form>
            </li>
        </ul> 
    </div>    
</body>
</html>
